# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment and dependencies
.venv/
env/
venv/
pip-log.txt
pip-delete-this.txt

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# IDEs
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

backend/.env

backend/api_key.py